@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800;900&display=swap'); 

:root {
    --primary: #DC2F02;
    --secondary: #781A05;
    --light: #F5CAB1;
    --dark: #000D2E;
    --blank: #FFF6F0;
    --primary2: #FF552B;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

/*UTILIDADES*/

.title{
    margin-bottom: 25px;
}

body{
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    width: 100%;
    background-color: #610e2b;
    color: white;
    padding: 10px;
}

header nav{
    width: 75%;
    margin: auto;
}

header nav .hamburguer {
    text-align: right;
    padding: 8px;
    font-size: 25px;
    z-index: 3;
    display: none;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

header nav ul li{
    list-style-type: none;
    padding: 5px;
}

header nav ul li:hover{
    cursor: pointer;
    color: #e2aea0;
    font-weight: 600;
}

header nav ul li a{
    text-decoration: none;
    color: inherit;
}

main{
    background-color: #03071e;
    width: 100%;
}

main .bg-conteiner{
    width: 75%;
    margin: auto;
    height: auto;
}

main .home{
    color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

main .home .home-text{
    text-align: center;
}

main .home .home-text h2{
    padding: 5px;
    margin: 0;
}

main .home .home-text h2 span{
    color: #dc2f02;
}

main .home .home-text p{
    padding: 5px;
    text-align: justify;
}

main .home .home-text button{
    background-color: #9e3d00;
    color: white;
    padding: 10px 20px;
    border-radius: 21px 6px 21px 6px;
    -webkit-border-radius: 21px 6px 21px 6px;
    -moz-border-radius: 21px 6px 21px 6px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 2px 10px #dc2f02;
}

main .home .home-text button:hover{
    background-color: #370617;
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
}

main .home .home-text .logo--text img{
    width: 125px;
    height: auto;
}

main .home .home-image img{
    border: 5px solid #dc2f02;
    border-radius: 41px 6px 40px 6px;
    -webkit-border-radius: 41px 6px 40px 6px;
    -moz-border-radius: 41px 6px 40px 6px;
    width: 250px;
    height: auto;
}

main .about-me{
    width: 100%;
    height: 100vh;
    color: white;
}

main .about-me h2{
    text-align: center;
    color: #dc2f02;
    margin: 0;
}

main .about-me .separate{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    align-items: center;
}

main .separate .about-image img{
    width: 350px;
    height: auto;
}

main .separate .about-text{
    margin-left: 25px;
    text-align: justify;
}

main .separate .about-text span{
    color: var(--primary2);
    font-weight: 600;
}

main .projects{
    width: 100%;
    height: 100vh;
    color: white;
}

main .projects h2{
    text-align: center;
    color: #dc2f02;
}

main .projects .cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: inherit;
    height: inherit;
    place-content: center;
    gap: 50px;
}

main .projects .cards .card{
    width: 100%;
    height: 100%;
    border-radius: 41px 6px 40px 6px;
    -webkit-border-radius: 41px 6px 40px 6px;
    -moz-border-radius: 41px 6px 40px 6px;
    border: 2px solid var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main .projects .cards .card p{
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

main .projects .cards .card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

main .projects .cards .card img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contacts{
    width: 100%;
    height: 30vh;
    background-color: var(--primary);
}

footer .contacts .principalTitle {
    text-align: center;
    color: var(--light);
    padding-top: 20px;
}

footer .contacts figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
    font-size: 50px;
}

footer .contacts figure a {
    text-align: center;
}

footer .contacts figure a:first-child {
    color: var(--light);
}

footer .contacts figure a:nth-child(2) {
    color: var(--light);
}

footer .contacts figure a:nth-child(3) {
    color: var(--light);
}

footer .contacts figure i {
    font-size: 100%;
    text-align: center;
}

footer {
    background-color: var(--primary);
    width: 100%;
}

footer h4{
    text-align: center;
    margin: 0;
    color: var(--light);
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    main .home{
        height: 90vh;
    }
}

@media (max-width: 1000px) {

    main {
        padding-bottom: 50px;
    }

    main .bg-conteiner{
        background-color: #03071e;
        width: 95%;
    }

    main .home{
        gap: 20px;
        height: auto;
        margin-bottom: 50px;
        padding-top: 50px;
    }

    main .about-me{
        height: auto;
        margin-bottom: 50px;
    }

    main .projects{
        height: auto;
        margin-bottom: 50px;
    }

    main .contacts{
        height: auto;
        }

    main .projects .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    header nav{
        width: 100%;
        margin: 0;
    }

    header nav .hamburguer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        font-size: 35px;
    }

    header nav ul{
        display: none;
        position: absolute;
        width: 100%;
        height: 90%;
        margin: auto;
        padding: 0;
        left: 0;
        background-color: #370617;
        flex-direction: column;
    }

    header nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
        flex-direction: column;
        height: 50%;
        font-size: 50px;
    }

    main {
        padding-bottom: 25px;
    }

    main .bg-conteiner .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    main .bg-conteiner .home .home-image{
        width: 90%;
    }

    main .bg-conteiner .home .home-image img{
        width: 100%;
    }

    main .about-me{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    main .bg-conteiner .about-me .separate{
        display: flex;
        flex-direction: column;
    }

    main .bg-conteiner .about-me .separate .about-image {
        width: 90%;
        height: 50%;
    }
    
    main .bg-conteiner .about-me .separate .about-image img {
        width: 100%;
        height: 100%;
    }

    main .bg-conteiner .separate .about-text {
        margin: 0;
        margin-top: 25px;
    }

    main .projects{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    main .bg-conteiner .projects .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    main .contacts{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    main .bg-conteiner .contacts figure{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}